.section-contact {
    /*margin-bottom: 25px;*/
    /*margin-top: 138px;*/
}
.section-contact-container {
    margin-bottom: 25px;
    margin-top: 138px;
    /*line-height: 10px;*/
    /*white-space: pre;*/
    /*white-space: pre-line;*/
}

.section-contact__img {
    margin-top: 28px;
    /*margin-top: 138px;*/
}

.section-contact-thick-text {
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #263238;
}

/*.section-contact-thick-text:first-child {*/
/*    margin-top: 10px;*/
/*}*/

/*.section-contact-thick-text:last-child {*/
/*    margin-top: 138px;*/
/*}*/

.section-contact-address {

    /*white-space: pre-line;*/
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
    color: #263238;
}

.section-contact-thick-text-centre {
    margin-top: 51px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #263238;
}

/*.section-contact > p {*/
/*    line-height: 5px;*/
/*}*/


/*.section-contact-address > p {*/
/*    line-height: 5px;*/
/*}*/

