.section-info {
/*margin-top: 75px;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
}

.section-info-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-row-gap: 17px;*/
}

.info__heading {
    margin-top: 75px;
    font-weight: 700;
    font-size: 48px;
    line-height: 133.69%;
    color: #1F2E35;
}

.info__heading__welcome {
    margin-top: 75px;
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    color: #1F2E35;
}

.info__text {
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #30444E;
}

.info__text:last-child {
    margin-bottom: 64px;
}

.section-info-img {
margin-bottom: 160px;
    margin-top: 106px;
}

.section-info-img__welcome {
    margin-top: 80px;
    margin-bottom: 70px;
}



