@import "navbar.css";
@import "info.css";
@import "fonts.css";
@import "index.css";
@import "reset.css";
@import "footer.css";
@import "contact.css";
@import "product.css";


.body-wrapper {
    background: darkgrey;
    display: flex;
    justify-content: center;
}

.page-wrapper {
    max-width: 1440px;
    min-width: 1440px;
    min-height: 100vh;
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;
}

.navbar-wrapper {
    /*flex-grow: 1;*/
    /*background: #FFFFFF;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);*/
}

.main-content {
    width: 100%;
}

.main-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.footer-wrapper {

}


.background-grey {
    background: #F6F6F6;
}

.background-white {
    background: #FFFFFF;
}

.background-white:first-child {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.background-red {
    background: #EE4248;
}


.content-width {
    max-width: 1125px;
    min-width: 1125px;
    margin: 0 auto;
}

.flex-columns {
    display: flex;
   /*justify-content: center;*/
    align-items: center;
}

.info__button {
    margin-top: 15px;
    display: inline-block;
    /*background: #EE4248;*/
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 12px 32px;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 29px;
}

.info__button:first-child {
    margin-top: 24px;
}


.change-color-text {
    color: #EE4248;
}