.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 19px;
    line-height: 21px;
    /*background: #FFFFFF;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);*/
}

/*.navbar-box {*/
/*    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);*/
/*}*/

.navbar-wrapper {
    /*background: #FFFFFF;*/
    /*box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);*/

}



.navbar-left {
    display: flex;
    /*align-items: center;*/
}

.navbar-left__logo {
margin-right: 133px;
}

.navbar-center {
    display: flex;
    /*align-items: center;*/
}

.navbar-centre_menu__item {
    margin-right: 50px;
    /*color: rgba(31, 46, 53, 0.8);*/
}

.navbar-centre_menu__item > a {
    color: rgba(31, 46, 53, 0.8);
}

.navbar-right {
    margin-left: auto;
    display: flex;
    /*align-items: center;*/
}


.navbar-right-social-link {
    margin-left: 24px;
}

.navbar-right-social-link__img {

}
