.section-product {
    padding-top: 116px;
}

.section-product-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;
    /*margin-bottom: 25px;*/
}

.section-product-header {
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    /*text-align: center;*/
    color: #1F2E35;
    justify-content: center;
}

.section-product-subsection-wrapper {

}

.section-product-subsection-header {
    margin-top: 15px;
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    color: #EE4248;
}

.section-product-subsection-text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #30444E;
}

.section-product-subsection-img {
    /*margin-top: 41px;*/
}

.section-product-container {
    margin-top: 41px;
}